/* Enter your custom styles here */
.sapFCardHeader .sapMTextMaxLine {
    color: tomato;
}

.sapMDialogScrollCont .sapMText {
    color: tomato;
}

.sapMPageFooter.sapMPageFloatingFooter .sapMIBar.sapMFooter-CTX {
    background-color: tomato;
}

.sapMDialogTitleGroup .sapMBarMiddle .sapMBarPH {
    background-color: tomato;
}

.sapMDialogTitleGroup .sapMBarMiddle .sapMBarPH .sapMDialogTitle {
    color: whitesmoke;
}
